<section id="order-confirmation" class="container mt-5">
    <h1 class="text-center">Purchase Detail</h1>
    <hr>
    <div id="order-details">
        {{#each products}}
        <div class="row mb-3">
            <div class="col-md-6">
                <h5>{{this.productId.title}}</h5>
                <p>{{this.productId.description}}</p>
            </div>
            <div class="col-md-2 text-end">
                <p>Cantidad: {{this.quantity}}</p>
            </div>
            <div class="col-md-2 text-end">
                <p>Precio: ${{this.productId.price}}</p>
            </div>
            <div class="col-md-2 text-end">
                <p>Subtotal: ${{this.subtotal}}</p>
            </div>
        </div>
        {{/each}}
        <hr>
        <div class="row">
            <div class="col-md-9">
                <h4>Total:</h4>
            </div>
            <div class="col-md-3 text-end">
                <h4>${{total}} USD</h4>
            </div>
        </div>
    </div>



    <div class="col d-flex justify-content-center">
        <div class="d-flex flex-column justify-content-center align-items-center">


            <form id="formPurchase" action="/api/sending/mail" method="post">

                <input type="hidden" name="userEmail" value="{{user.email}}">

                {{#each products}}
                <input type="hidden" name="products[{{@index}}][productId][id]" value="{{this.productId._id}}">
                <input type="hidden" name="products[{{@index}}][productId][title]" value="{{this.productId.title}}">
                <input type="hidden" name="products[{{@index}}][productId][description]"
                    value="{{this.productId.description}}">
                <input type="hidden" name="products[{{@index}}][quantity]" value="{{this.quantity}}">
                <input type="hidden" name="products[{{@index}}][productId][price]" value="{{this.productId.price}}">
                <input type="hidden" name="products[{{@index}}][subtotal]" value="{{this.subtotal}}">
                {{/each}}


                <input type="hidden" name="total" value="{{total}}">

                <button id="confirmButton" class="btn btn-primary btn-lg mt-5" style="width: 350px;">Confirm
                    Purchase</button>

            </form>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Captura el formulario
        const form = document.querySelector("#formPurchase");

        // Captura el botón de confirmación
        const confirmButton = document.getElementById("confirmButton");

        // Agrega un evento de clic al botón de confirmación
        confirmButton.addEventListener("click", function (event) {
            // Previene el envío del formulario por defecto
            event.preventDefault();

            // Deshabilita el botón mientras se procesa la solicitud
            confirmButton.disabled = true;

            // Realiza la solicitud AJAX (aquí deberías enviar los datos del formulario)
            console.log(form)

            fetch("/api/sending/mail", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded', // Cambia el tipo de contenido a form-urlencoded
                },
                body: new URLSearchParams(new FormData(form)), // Convierte FormData a URLSearchParams
            })
                .then((response) => {
                    if (response.ok) {
                        // Si la solicitud es exitosa, muestra una Sweet Alert de éxito
                        Swal.fire({
                            icon: "success",
                            title: "Confirmed purchase!",
                            text: "¡Your purchase was confirmed, the details will be sent to the email!",
                        }).then(() => {
                            window.location.href = "/";
                        })
                    } else if (response.status === 400) {
                        response.json().then(data => {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error processing purchase',
                                text: data.message 
                            });
                        });
                    } else {
                        // Si la solicitud falla, muestra una Sweet Alert de error
                        Swal.fire({
                            icon: "error",
                            title: "Error",
                            text: "There was an error processing your purchase. Please try again later..",
                        });
                    }
                })
                .catch((error) => {
                    console.error("Error al procesar la solicitud:", error);
                })
                .finally(() => {
                    // Habilita el botón nuevamente después de que se complete la solicitud
                    confirmButton.disabled = false;
                });
        });
    });
</script>